.home {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .banner {
    background-image: url('../../../assets/BannerHome.png');
  }
}

@media screen and (max-width: 500px) {
  .home {
    .banner {
      &__text-overlay {
        width: auto;
        padding: 0 10px;
      }
    }
  }
}
