.home {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .nav__button:nth-child(1) {
    //Soulignement interactif
    text-decoration: underline;
  }
  .banner {
    background-image: url('../../../assets/BannerHome.png');
  }
}

