.about {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .banner {
    background-image: url('../../../assets/BannerAbout.png');
    background-size: 100%;
    .banner__text-overlay {
      display: none;
    }
  }
  .banner::before {
    background: rgba(0, 0, 0, 0.214);
  }
}
